name: Sandwich Build
## 各位好！这里是 Sandwich 构建流程！在此处列出了所有可供构建的系统！如果你有更多的系统构建，欢迎来提交 PR！
on:
    # workflow_dispatch:
    push:
        branches: [dev, main]

jobs:
    build-windows-x86_64:
        name: Build Windows x86_64
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FPC
            - name: Install FPC Windows
              run: |
                  # 默认直接下载 3.3.2
                  Invoke-WebRequest -Uri "https://master.dl.sourceforge.net/project/freepascal/Win32/3.2.2/fpc-3.2.2.i386-win32.exe?viasf=1" -OutFile "fpc-win32.exe"
                  Start-Process -FilePath "fpc-win32.exe" -ArgumentList "/VERYSILENT", "/SUPPRESSMSGBOXES", "/NORESTART" -Wait
              shell: pwsh
            # 安装 交叉编译器
            - name: Install Cross Compiler
              shell: pwsh
              run: |
                  # 默认直接下载 3.3.2
                  Invoke-WebRequest -Uri "https://master.dl.sourceforge.net/project/freepascal/Win32/3.2.2/fpc-3.2.2.i386-win32.cross.x86_64-win64.exe?viasf=1" -OutFile "fpc-x64.exe"
                  Start-Process -FilePath "fpc-x64.exe" -ArgumentList "/VERYSILENT", "/SUPPRESSMSGBOXES", "/NORESTART" -Wait
            # 打包 EXE
            - name: Compiler Program EXE
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Px86_64 -oSandwich-${{steps.version.outputs.version}}-Windows-x86_64.exe
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program DLL
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Cg -WD -Px86_64 -oSandwich-${{steps.version.outputs.version}}-Windows-x86_64.dll
                  source: PascalScaffoldingLibrary.lpr
            # 打包 NO_OPENSSL 的 EXE
            - name: Compiler Program NO OPENSSL
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -dNO_OPENSSL -Px86_64 -oSandwich-${{steps.version.outputs.version}}-Windows-x86_64-no-openssl.exe
                  source: PascalScaffolding.lpr
            # 上传工件 EXE
            - name: Upload Artifact EXE
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Windows-x86_64-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Windows-x86_64.exe
            # 上传工件 DLL
            - name: Upload Artifact DLL
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Windows-x86_64-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Windows-x86_64.dll
            # 上传工件 NO-OPENSSL 的 EXE
            - name: Upload Artifact NO OPENSSL
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Windows-x86_64-NO-OPENSSL-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Windows-x86_64-no-openssl.exe
    # 在构建 Windows arm64 时出现严重 bug，由于 Free Pascal 官方并未提供 Windows arm64 版本的 FPC，Lazarus 官方也并未提供，因此，无法编译出 arm64 版本的 Sandwich！
    # 如果有哪位好心人来帮我修改一下 Actions（能够从源码安装 Free Pascal），我会非常感激你们的！
    # 我这边会编译出一份 WinCE for arm (only 32 bits) 版本的 Sandwich，请见谅~~
    # 如果你有需求需要用到 Windows arm 版本的 Sandwich，你需要自行下载 openssl 哦！程序将不会内置！
    build-windows-arm64:
        name: Build Windows arm64
        runs-on: windows-11-arm
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 从每日快照中拉取 aarch64-win64 版的 FPC
            - name: Install FPC Arm64
              shell: "pwsh"
              run: |
                  # 默认下载 3.3.1 的
                  Invoke-WebRequest -Uri "https://downloads.freepascal.org/fpc/snapshot/trunk/aarch64-win64/fpc-3.3.1.aarch64-win64.built.on.x86_64-linux.tar.gz" -OutFile "fpc-aarch64-win64.tar.gz"
                  # 解压 tar.gz 压缩包
                  mkdir C:\FPC\
                  tar -xzf .\fpc-aarch64-win64.tar.gz -C C:\FPC\
                  C:\FPC\bin\aarch64-win64\fpc.exe -iV
            # # 安装 FPC
            # - name: Install FPC Windows
            #   run: |
            #       # 默认直接下载 3.3.2
            #       Invoke-WebRequest -Uri "https://master.dl.sourceforge.net/project/freepascal/Win32/3.2.2/fpc-3.2.2.i386-win32.exe?viasf=1" -OutFile "fpc-win32.exe"
            #       Start-Process -FilePath "fpc-win32.exe" -ArgumentList "/VERYSILENT", "/SUPPRESSMSGBOXES", "/NORESTART" -Wait
            #   shell: pwsh
            # # 安装 交叉编译器
            # - name: Install Cross Compiler
            #   shell: pwsh
            #   run: |
            #       # 默认直接下载 3.3.2
            #       Invoke-WebRequest -Uri "https://master.dl.sourceforge.net/project/freepascal/Win32/3.2.2/fpc-3.2.2.i386-win32.cross.arm-wince.exe?viasf=1" -OutFile "fpc-wince.exe"
            #       Start-Process -FilePath "fpc-wince.exe" -ArgumentList "/VERYSILENT", "/SUPPRESSMSGBOXES", "/NORESTART" -Wait
            # 打包 EXE
            - name: Compiler Program EXE
              uses: suve/GHActions-FPC@trunk
              with:
                  fpc: C:\FPC\bin\aarch64-win64\fpc.exe
                  flags: -XX -Os -CX -Xs -Paarch64 -oSandwich-${{steps.version.outputs.version}}-WinCE-arm.exe
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program DLL
              uses: suve/GHActions-FPC@trunk
              with:
                  fpc: C:\FPC\bin\aarch64-win64\fpc.exe
                  flags: -XX -Os -CX -Xs -Cg -WD -Paarch64 -oSandwich-${{steps.version.outputs.version}}-WinCE-arm.dll
                  source: PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact EXE
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-WinCE-arm-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-WinCE-arm.exe
            # 上传工件 DLL
            - name: Upload Artifact DLL
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-WinCE-arm-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-WinCE-arm.dll
    build-macOS-x86_64:
        name: Build macOS x86_64
        runs-on: macos-15-intel
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FPC
            - name: Install FPC macOS
              run: |
                  brew update
                  brew install fpc
            # 打包 EXE
            - name: Compiler Program
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Px86_64 -oSandwich-${{steps.version.outputs.version}}-macOS-x86_64
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program DYLIB
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Cg -XD -Px86_64 -oSandwich-${{steps.version.outputs.version}}-macOS-x86_64.dylib
                  source: PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-macOS-x86_64-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-macOS-x86_64
            # 上传工件 DLL
            - name: Upload Artifact DYLIB
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-macOS-x86_64-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-macOS-x86_64.dylib
    build-macOS-aarch64:
        name: Build macOS aarch64
        runs-on: macos-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FPC
            - name: Install FPC macOS
              run: |
                  brew update
                  brew install fpc
            # 打包 EXE
            - name: Compiler Program
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Paarch64 -oSandwich-${{steps.version.outputs.version}}-macOS-aarch64
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program DYLIB
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Cg -XD -Paarch64 -oSandwich-${{steps.version.outputs.version}}-macOS-aarch64.dylib
                  source: PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-macOS-aarch64-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-macOS-aarch64
            # 上传工件 DLL
            - name: Upload Artifact DYLIB
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-macOS-aarch64-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-macOS-aarch64.dylib
    build-linux-x86_64:
        name: Build Linux x86_64
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FPC
            - name: Install FPC Linux
              run: |
                  sudo apt update
                  sudo apt install fpc
            # 打包 EXE
            - name: Compiler Program
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Px86_64 -oSandwich-${{steps.version.outputs.version}}-Linux-x86_64
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program SO
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Cg -fPIC -Px86_64 -oSandwich-${{steps.version.outputs.version}}-Linux-x86_64.so
                  source: PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Linux-x86_64-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Linux-x86_64
            # 上传工件 DLL
            - name: Upload Artifact SO
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Linux-x86_64-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Linux-x86_64.so
    build-linux-aarch64:
        name: Build Linux aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FPC
            - name: Install FPC Linux
              run: |
                  sudo apt update
                  sudo apt install fpc
            # 打包 EXE
            - name: Compiler Program
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Paarch64 -oSandwich-${{steps.version.outputs.version}}-Linux-aarch64
                  source: PascalScaffolding.lpr
            # 打包 DLL
            - name: Compiler Program SO
              uses: suve/GHActions-FPC@trunk
              with:
                  flags: -XX -Os -CX -Xs -Cg -fPIC -Paarch64 -oSandwich-${{steps.version.outputs.version}}-Linux-aarch64.so
                  source: PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Linux-aarch64-EXECUTE-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Linux-aarch64
            # 上传工件 DLL
            - name: Upload Artifact SO
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-Linux-aarch64-DYNAMIC-Bundle
                  path: ./Sandwich-${{steps.version.outputs.version}}-Linux-aarch64.so
    build-freeBSD-x86_64:
        name: Build FreeBSD x86_64
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            # 获取版本
            - name: Read Version
              id: version
              shell: bash
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            # 安装 FreeBSD 镜像
            - name: Install FreeBSD VM
              id: FreeBSD
              uses: vmactions/freebsd-vm@v1
              with:
                  arch: x86_64
                  sync: nfs
                  # 安装 FPC
                  prepare: |
                      pkg update
                      pkg install -y fpc
                  # 打包 EXE 和 DLL
                  run: |
                      cd $GITHUB_WORKSPACE
                      fpc -iV
                      fpc -XX -Os -CX -Xs -Px86_64 -Tfreebsd -oSandwich-${{steps.version.outputs.version}}-freeBSD-x86_64 PascalScaffolding.lpr
                      fpc -XX -Os -CX -Xs -Cg -fPIC -Px86_64 -Tfreebsd -oSandwich-${{steps.version.outputs.version}}-freeBSD-x86_64.so PascalScaffoldingLibrary.lpr
            # 上传工件 EXE
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64-EXECUTE-Bundle
                  path: ${{ github.workspace }}/Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64
            # 上传工件 DLL
            - name: Upload Artifact SO
              uses: actions/upload-artifact@v4
              with:
                  name: Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64-DYNAMIC-Bundle
                  path: ${{ github.workspace }}/Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64.so
    # 由于 FPC 暂未提供 FreeBSD 的 aarch64 版本，并且 EasyTier 也并未提供 FreeBSD 的 aarch64 版本，因此该版本暂时搁置~
    # build-freeBSD-aarch64:
    #     name: Build FreeBSD aarch64
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: Checkout
    #           uses: actions/checkout@v4
    #           with:
    #               submodules: recursive
    #         # 获取版本
    #         - name: Read Version
    #           id: version
    #           shell: bash
    #           run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
    #         # 安装 FreeBSD 镜像
    #         - name: Install FreeBSD VM
    #           id: FreeBSD
    #           uses: vmactions/freebsd-vm@v1
    #           with:
    #               arch: aarch64
    #               sync: nfs
    #               # 安装 FPC
    #               prepare: |
    #                 pkg update
    #                 pkg install -y fpc
    #               # 打包 EXE 和 DLL
    #               run: |
    #                 cd $GITHUB_WORKSPACE
    #                 fpc -iV
    #                 fpc -XX -Os -CX -Xs -Px86_64 -Tfreebsd -oSandwich-${{steps.version.outputs.version}}-freeBSD-x86_64 PascalScaffolding.lpr
    #                 fpc -XX -Os -CX -Xs -Cg -fPIC -Px86_64 -Tfreebsd -oSandwich-${{steps.version.outputs.version}}-freeBSD-x86_64.so PascalScaffoldingLibrary.lpr
    #         # 上传工件 EXE
    #         - name: Upload Artifact
    #           uses: actions/upload-artifact@v4
    #           with:
    #               name: Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64-EXECUTE-Bundle
    #               path: ${{ github.workspace }}/Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64
    #         # 上传工件 DLL
    #         - name: Upload Artifact SO
    #           uses: actions/upload-artifact@v4
    #           with:
    #               name: Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64-DYNAMIC-Bundle
    #               path: ${{ github.workspace }}/Sandwich-${{steps.version.outputs.version}}-freeBSD-x86_64.so
